<!doctype html>
<html lang="en">
  <head>
    <title>Foreign exchange rates API with currency conversion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Exchange rates API is a free service for current and historical foreign exchange rates published by the European Central Bank">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Hightlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" integrity="sha256-akwTLZec/XAFvgYgVH1T5/369lhA2Efr22xzCNl1nHs=" crossorigin="anonymous" />
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div id="hero">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light pt-5">
          <a class="navbar-brand" href="https://exchangeratesapi.io">
            <img src="/static/logo.svg" alt="Exchange rates API" />
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="https://stats.uptimerobot.com/Q6z9gTYrY" class="nav-link">
                Status
              </a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/madisvain/exchangeratesapi" class="nav-link">
                Source
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html" class="nav-link">
                Data sets
              </a>
            </li>
          </ul>
        </nav>
        <div class="col-8 offset-2">
          <h1 class="text-center">
            Foreign exchange rates API
            <br/>
            <small>with currency conversion</small>
          </h1>
          <p class="text-center">
            Exchange rates API is a free service for current and historical foreign exchange rates
            <br/> published by the
            <a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html">
              European Central Bank
            </a>
          </p>
        </div>
        <div id="shell" class="col-6 offset-3">
          <pre>
            <code class="http px-5">
GET https://api.exchangeratesapi.io/latest HTTP/1.1

{
  "base": "EUR",
  "date": "2018-04-08",
  "rates": {
    "CAD": 1.565,
    "CHF": 1.1798,
    "GBP": 0.87295,
    "SEK": 10.2983,
    "EUR": 1.092,
    "USD": 1.2234,
    ...
  }
}
            </code>
          </pre>
        </div>
      </div>
    </div>

    <div id="features">
      <div class="container">
        <div class="row">
          <div class="col-10 offset-1 my-5">
            <div class="row">
              <div class="col-3 offset-1">
                <h3>
                  <img src="/static/icons/speed.svg" alt="Speed" />
                  Fast & reliable
                </h3>
                <p>
                  Exchange rates API has been designed and tested to handle thousands of request per second. Also constantly monitored.
                </p>
              </div>
              <div class="col-3 offset-1">
                <h3>
                  <img src="/static/icons/exchange.svg" alt="Compatible" />
                  Fixer.io compatibility
                </h3>
                <p>
                  Built in Fixer.io compatibility so you can keep all the libraries you already like and use daily.
                </p>
              </div>
              <div class="col-3 offset-1">
                <h3>
                  <img src="/static/icons/open.svg" alt="Open source" />
                  Open source
                </h3>
                <p>
                  Everything from the code base, homepage to the deployment process is opensource and free to use under a permissive MIT license.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-6 offset-3 my-5">
          <h4>Usage</h4>

          <p>
            Get the latest foreign exchange reference rates.
          </p>
          <pre>
            <code class="http px-5 rounded-corners">
GET https://api.exchangeratesapi.io/latest HTTP/1.1
            </code>
          </pre>

          <p>
            Get historical rates for any day since 1999.
          </p>
          <pre>
            <code class="http px-5 rounded-corners">
GET https://api.exchangeratesapi.io/2010-01-12 HTTP/1.1
            </code>
          </pre>

          <p>
            Rates are quoted against the Euro by default.
            Quote against a different currency by setting the base parameter in your request.
          </p>
          <pre>
            <code class="http px-5 rounded-corners">
GET https://api.exchangeratesapi.io/latest?base=USD HTTP/1.1
            </code>
          </pre>

          <p>
            Request specific exchange rates by setting the symbols parameter.
          </p>
          <pre>
            <code class="http px-5 rounded-corners">
GET https://api.exchangeratesapi.io/latest?symbols=USD,GBP HTTP/1.1
            </code>
          </pre>

          <p>
            Please cache results whenever possible this will allow us to keep the service without any rate limits or api key requirements.
          </p>
          <p>
            The API comes with no warranty but we do our best effort to keep the service working reliably.
          </p>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col my-3 text-center">
            <ul class="list-unstyled mx-auto">
              <li>
                <a class="github-button" href="https://github.com/madisvain/exchangeratesapi" data-size="large" data-show-count="true" aria-label="Star madisvain/exchangeratesapi on GitHub">Star</a>
                <a class="github-button" href="https://github.com/madisvain/exchangeratesapi/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork madisvain/exchangeratesapi on GitHub">Fork</a>
              </li>
              <li>
                Made with <span style="color: #e25555;">&hearts;</span> for coding by <a href="https://github.com/madisvain">Madis Väin</a>
                <br/>
                <small>Estonia, Tallinn</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Highlight.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/http.min.js" integrity="sha256-ze9TA1yfIP6jEh7+8fVq8CxHsydquQNe9O+P05ueO3w=" crossorigin="anonymous"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
