[Unit]
Description=Gunicorn
After=network.target

[Service]
User=deploy
Group=www-data
PIDFile=/tmp/gunicorn.pid
Environment="PATH={{ install_path }}/{{ project_name }}/env/bin"
WorkingDirectory={{ install_path }}/{{ project_name }}
ExecStart={{ install_path }}/{{ project_name }}/env/bin/gunicorn --workers 2 -b localhost:5000 exchangerates.api:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target