{% for domain in domains[1:] %}
server {
    listen 80;
    listen [::]:80;

    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ domains[0] }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domains[0] }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    server_name  {{ domain }};
    return 301 https://{{ domains[0] }}$request_uri;
}
{% endfor %}

server {
  listen 80;
  listen [::]:80;
  server_name  {{ domains[0] }};
  return 301 https://{{ domains[0] }}$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ domains[0] }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domains[0] }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    server_name {{ domains[0] }};

    keepalive_timeout 60;
    proxy_buffers 16 64k;
    proxy_buffer_size 128k;

    client_max_body_size 50M;

    gzip on;
    gzip_http_version  1.0;
    gzip_comp_level    5;
    gzip_min_length    256;
    gzip_proxied       any;
    gzip_vary          on;
    gzip_buffers       16 8k;
    gzip_types
    application/atom+xml
    application/javascript
    application/json
    application/ld+json
    application/manifest+json
    application/rss+xml
    application/vnd.geo+json
    application/vnd.ms-fontobject
    application/x-font-ttf
    application/x-web-app-manifest+json
    application/xhtml+xml
    application/xml
    font/opentype
    image/bmp
    image/svg+xml
    image/x-icon
    text/cache-manifest
    text/css
    text/plain
    text/vcard
    text/vnd.rim.location.xloc
    text/vtt
    text/x-component
    text/x-cross-domain-policy;

    access_log {{ install_path }}/{{ project_name }}/logs/access.log;
    error_log {{ install_path }}/{{ project_name }}/logs/error.log;

    index index.html;
    location / {
        root /srv/exchangerates/app/public/;
        try_files $uri $uri/ =404;
    }

    location /api/ {
        include proxy_params;
        proxy_pass http://localhost:5000/api/;
    }
}
